@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link href="@Url.Content("~/Content/css/pr.css")" rel="stylesheet" type="text/css" />
    </head>
<body>


    
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="group group-three">
        <div class="group--container">

            <div class="group--title" data-aos="zoom-out-up" data-aos-offset="500">
                <h2>Air Max Premium</h2>
                <div class="group--subtitle">
                    If the Shoe Fits Hover It.
                    <!--  If the Shoe Fits Card UI Experiment -->
                </div>
            </div>

            <div class="card--style2 card--one" data-aos="fade-up">

                <div class="shoe--info">
                    <span class="shoe--name">
                        NIKE AIR MAX PREMIUM
                    </span>
                    <span class="shoe--price">
                        $150
                    </span>
                </div>

                <div class="shoe">
                    <img src="~/Content/images/shoe.png" alt="nike air max premium red" />
                </div>

                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                </div>

            </div>

            <div class="card--style2 card--two" data-aos="fade-up">

                <div class="shoe--info">
                    <span class="shoe--name">
                        NIKE AIR MAX ESSENTIAL
                    </span>
                    <span class="shoe--price">
                        $150
                    </span>
                </div>

                <div class="shoe">
                    <img src="https://bit.ly/2kRrQxP" alt="nike air max essential black" />
                </div>


                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                </div>

            </div>

            <div class="card--style2 card--three" data-aos="fade-up">

                <div class="shoe--info">
                    <span class="shoe--name">
                        NIKE AIR MAX 90
                    </span>
                    <span class="shoe--price">
                        $150
                    </span>
                </div>

                <div class="shoe">
                    <img src="https://bit.ly/2kRsdIN" alt="nike air max 90" />
                </div>

                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                </div>

            </div>

            <div class="shop-all">
                <button class="button">shop collection</button>
            </div>

        </div>
    </div>
    <!--Current 2nd Group -->
    <div class="group group-one">
        <div class="group--container">

            <div class="group--title" data-aos="fade-up">
                <h2>Air Max Premium</h2>
                <div class="group--subtitle">
                    A sample card UI layout.
                </div>
            </div>

            <div class="card card--one">

                <div class="shoe">
                    <img src="~/Content/images/rev1.jpg" alt="nike air max premium red" />
                </div>

                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                    <button class="buy-btn">Add to Cart</button>
                </div>

                <div class="shoe--info">
                    <span class="shoe--name">NIKE AIR MAX PREMIUM</span>
                    <span class="shoe--price"> $150 </span>
                </div>
            </div>


            <div class="card card--two">

                <div class="shoe">
                    <img src="https://bit.ly/2kRrQxP" alt="nike air max essential black" />
                </div>

                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                    <button class="buy-btn">Add to Cart</button>
                </div>

                <div class="shoe--info">
                    <span class="shoe--name">NIKE AIR MAX PREMIUM</span>
                    <span class="shoe--price"> $150 </span>
                </div>
            </div>

            <div class="card">

                <div class="shoe">
                    <img src="https://bit.ly/2kRsdIN" alt="nike air max 90 blue and black" />
                </div>

                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                    <button class="buy-btn">Add to Cart</button>
                </div>

                <div class="shoe--info">
                    <span class="shoe--name">NIKE AIR MAX PREMIUM</span>
                    <span class="shoe--price"> $150 </span>
                </div>
            </div>
            <div class="card card--one">

                <div class="shoe">
                    <img src="https://bit.ly/2kRsdIN" alt="nike air max premium red" />
                </div>

                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                    <button class="buy-btn">Add to Cart</button>
                </div>

                <div class="shoe--info">
                    <span class="shoe--name">NIKE AIR MAX PREMIUM</span>
                    <span class="shoe--price"> $150 </span>
                </div>
            </div>

        </div>
    </div>

    <div class="group group-two">
        <div class="group--container">

            <div class="group--title">
                <h2>Air Max Premium</h2>
                <div class="group--subtitle">
                    A sample card UI layout.
                </div>
            </div>

            <div class="card card--one" data-aos="fade-right">

                <div class="shoe">
                    <img src="https://bit.ly/2lTBReR" alt="nike air max premium red" />
                </div>

                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                    <button class="buy-btn">Add to Cart</button>
                </div>

                <div class="shoe--info">
                    <span class="shoe--name">NIKE AIR MAX PREMIUM</span>
                    <span class="shoe--price"> $150 </span>
                </div>
            </div>

            <div class="card card--two" data-aos="zoom-out">

                <div class="shoe">
                    <img src="https://bit.ly/2kRrQxP" alt="nike air max premium red" />
                </div>

                <div class="shoe--colors">

                    <ul class="colors">
                        <li data-color="#F5624D"></li>
                        <li data-color="#CC231E" class="active-color"></li>
                        <li data-color="#34A65F"></li>
                    </ul>

                    <button class="buy-btn">Add to Cart</button>
                </div>

                <div class="shoe--info">
                    <span class="shoe--name">NIKE AIR MAX PREMIUM</span>
                    <span class="shoe--price"> $150 </span>
                </div>
            </div>

            <div class="card" data-aos="fade-left">
                <div class="shoe">
                    <img src="https://bit.ly/2kRsdIN" alt="nike air max 90" />
                    <div class="shoe--colors">
                        <ul class="colors">
                            <li data-color="#F5624D"></li>
                            <li data-color="#CC231E" class="active-color"></li>
                            <li data-color="#34A65F"></li>
                        </ul>
                        <button class="buy-btn">Add to Cart</button>
                    </div>

                    <div class="shoe--info">
                        <span class="shoe--name">NIKE AIR MAX PREMIUM</span>
                        <span class="shoe--price"> $150 </span>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</body>
</html>